# General files and folders to be ignored everywhere
**/.git
**/.DS_Store
*.md
**/docs
**/demo
**/.vscode

# Enviroment folder only to be ignored in the root of the project
# On root level, this folder contains Terraform and other files. Within a project, this folder can contain important
# files like stage and version information that should not be ignored.
/env

# Docker
**/Dockerfile
**/.dockerignore

# .NET Core
**/bin
**/obj
**/*.Development.json

# Azure Functions
**/local.settings.json

# JavaScript
**/node_modules
**/dist
