{
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "filenames", "react", "prettier"],
	"extends": [
		"airbnb",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"settings": {
		"import/extensions": [".js", ".jsx", ".ts", ".tsx"],
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx"]
		},
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	},
	"rules": {
		"prettier/prettier": "error",
		"no-await-in-loop": 0,
		"import/no-unresolved": 0,
		"@typescript-eslint/no-object-literal-type-assertion": 0,
		"no-nested-ternary": 0,
		"import/extensions": 0,
		"@typescript-eslint/no-inferrable-types": 0,
		"@typescript-eslint/ban-ts-ignore": 0,
		"@typescript-eslint/explicit-function-return-type": [
			2,
			{
				"allowTypedFunctionExpressions": true
			}
		],
		"@typescript-eslint/no-explicit-any": 0,
		"no-irregular-whitespace": 0,
		"no-use-before-define": "off",
		"@typescript-eslint/no-use-before-define": ["error"],
		"@typescript-eslint/no-parameter-properties": [
			2,
			{
				"allows": ["private", "protected", "public", "private readonly", "protected readonly", "public readonly"]
			}
		],
		"no-bitwise": 0,
		"no-useless-constructor": 0,
		"no-useless-escape": 0,
		"no-empty-function": 0,
		"no-continue": 0,
		"no-trailing-spaces": 2,
		"no-underscore-dangle": [
			2,
			{
				"allowAfterThis": true
			}
		],
		"radix": [2, "as-needed"],
		"no-restricted-globals": 0,
		"class-methods-use-this": 0,
		"jsx-a11y/click-events-have-key-events": 0,
		"jsx-a11y/no-static-element-interactions": 0,
		"linebreak-style": 0,
		"quotes": [2, "single"],
		"no-plusplus": 0,
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".tsx", ".jsx"]
			}
		],
		"no-console": 0,
		"comma-dangle": 0,
		"no-return-assign": 0,
		"no-param-reassign": 0,
		"operator-linebreak": [
			2,
			"before",
			{
				"overrides": {
					"=": "after"
				}
			}
		],
		"react/prop-types": 0,
		"import/no-extraneous-dependencies": 0,
		"import/no-cycle": 0,
		"object-curly-newline": [
			2,
			{
				"ObjectExpression": {
					"multiline": true,
					"minProperties": 2
				},
				"ObjectPattern": {
					"multiline": true,
					"minProperties": 2
				},
				"ImportDeclaration": {
					"multiline": true,
					"minProperties": 3
				},
				"ExportDeclaration": {
					"multiline": true,
					"minProperties": 3
				}
			}
		],
		"no-unexpected-multiline": 0,
		"filenames/match-regex": [
			2,
			"^[A-Z][a-z]+(?:[A-Z][a-z]+)*((?:[.][s][t][o][r][i][e][s])|(?:[.][w][e][b])|(?:[.][t][e][s][t]))?$",
			true
		],
		"filenames/match-exported": [2, "pascal"],
		"filenames/no-index": 2,
		"semi": 0,
		"react/jsx-props-no-spreading": 0,
		"@typescript-eslint/ban-ts-comment": 0,
		"@typescript-eslint/no-empty-function": 1,
		"jsx-a11y/control-has-associated-label": 1,
		"no-shadow": 0,
		"react/no-array-index-key": 1,
		"consistent-return": 0
	},
	"overrides": [
		{
			"files": ["Use*.ts"],
			"rules": {
				"filenames/match-exported": 0
			}
		},
		{
			"files": ["**/*.web.*"],
			"rules": {
				"filenames/match-exported": 0
			}
		},
		{
			"files": ["**/*.stories.*"],
			"rules": {
				"react/destructuring-assignment": 0
			}
		},
		{
			"files": ["**/*.ts", "**/*.tsx"],
			"rules": {
				"@typescript-eslint/no-unused-vars": [
					2,
					{
						"args": "none"
					}
				],
				"no-undef": ["off"]
			}
		},
		{
			"files": ["TaggedTemplateLiteralSnippets.ts"],
			"rules": {
				"no-nested-ternary": 0
			}
		},
		{
			"files": ["index.tsx"],
			"rules": {
				"import/first": 0
			}
		},
		{
			"files": ["*.js"],
			"rules": {
				"@typescript-eslint/explicit-function-return-type": 0,
				"@typescript-eslint/no-var-requires": 0
			}
		},
		{
			"files": [
				"*/helpers/*.*",
				"*/generators/*.*",
				"__tests__/e2e/global/*",
				"__tests__/e2e/helpers/*",
				"__tests__/e2e/base/*"
			],
			"rules": {
				"import/prefer-default-export": 0
			}
		},
		{
			"files": ["*d.ts"],
			"rules": {
				"import/no-duplicates": 0
			}
		},
		{
			"files": ["*.spec.ts", "*Helpers.ts"],
			"rules": {
				"filenames/match-regex": 0
			}
		},
		{
			"files": ["**/models/*.*", "**/models/*/**.*", "*Store.ts", "*Props.ts"],
			"rules": {
				"@typescript-eslint/no-empty-interface": 0
			}
		},
		{
			"files": ["**/*.spec.ts"],
			"rules": {
				"filenames/match-exported": 0
			}
		}
	]
}
